.article {
    position: relative;
    color: $color-primary;
    margin: 0 auto 0 -110px;
    transition: 250ms ease-in-out 280ms;
    @include mobile {
        margin-left: auto;
    }
    &-part {
        display: flex;
        gap: 25px;
        max-width: 80%;
        margin: 0 auto 80px auto;
        scroll-margin-top: 20px;
        @media screen and (max-width: 489px) {
            flex-direction: column;
            scroll-margin-top: 150px;
        }
        &:last-child {
            margin-bottom: 20px;
        }
        @include tablet {
            max-width: 95%;
        }
    }
    img {
        flex: 1;
        width: 100%;
        min-height: 100%;
        max-height: 300px;
        object-fit: cover;
        border-radius: 10px;
        @include tablet {
            flex: 2;
            max-height: 260px;
        }
    }
    #context img {
        height: 100%;
    }
    &-text {
        flex: 3; 
    }
    h2 {
        margin-bottom: 15px;
    }
    h3 {
        margin: 20px 0 0 20px;
    }
    p {
        line-height: 1.4rem;
        margin-bottom: 10px;
        .link-inside-text {
            color: lighten($color: $color-primary, $amount: 20%);
            &:hover, &:focus {
                color: lighten($color: $color-primary, $amount: 8%);
            }
        }
    }
    .hidden-p {
        max-height: 0;
        overflow: hidden;
        margin: 0 !important;
    }
    .optional-p {
        max-height: auto;
        margin: 10px auto 35px 25px;
    }
    &-narrow {
        margin-left: 0;
        transition: 250ms ease-in-out;
    }
}