footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 50px;
    border-top: 1px $color-quaternary solid;
    border-top-right-radius: 80px 20px;
    background-color: rgba($color: $color-quaternary, $alpha: 0.08);
    .footer {
        &-social, &-nav {
            display: flex;
            gap: 25px;
            width: fit-content;
            margin: auto;
        }
    }
}