footer {
    position: relative;
    display: grid;
    grid-template-columns: 1.3fr 1fr 0.5fr;
    gap : 0 60px;
    grid-template-rows: 1fr 1fr;
    padding: 30px 40px;
    &::before {
        content: "";
        position: absolute;
        top: 0px; left: 0;
        width: 70%;
        height: 1px;
        background: linear-gradient(to right, $color-primary, white);
    }
    //background-color:#cbf990;
    //background-image: url(wave3.svg);
    //background-size: cover;
    //background-repeat: no-repeat;
    //background-position: 0 15%;
    .fNav {
        h3 {
            padding-bottom: 5px;
        }
        &-about {
            max-width: 460px;
            grid-row : span 2;
            p {
                padding-bottom: 5px;
            }
        }
        &-help {
            max-width: 375px;
            grid-column-start: 2;
            grid-row-start: 2;
            margin: auto 0;
        }
        &-social {
            max-width: fit-content;
            grid-row: span 2;
            justify-self: center;
            align-self: center;
        }
    }
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap : 10px 20px;
    }
}