header { 
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background-color: $color-quaternary;
    box-shadow: 0 1px 6px $light-grey;
    .logo {
        align-self: center;
        width: 100%;
        background-color: white;
        border-bottom: 2px $color-quaternary solid;
        border-bottom-right-radius: 170px 80px;
        padding: 10px 0;
        @include mobile {
            border-bottom-right-radius: 0 0;
        }
        img {
            position: absolute;
            top: 12px; left: 50%;
            width: 84px; height: 70px;
            margin-left: -42px;
        }
        h1 {
            margin-top: 70px;
            margin-bottom: -2px;
        }
        h2 {
            margin-bottom: 6px;
            transition: 250ms ease-in-out;
        }
    }
}