main {
    //height: fit-content;
    .landing {
        //padding-top: 25px;
        position: relative;
        width: 100%;
        margin: auto;
        background-color: transparent;
        box-shadow: inset 0 0 15px 15px white;
        img {
            position: relative;
            z-index: -1;
            width: 100%;
            height: auto;
            min-height: 350px;
            object-fit: cover;
        }
        &-content {
            position: absolute;
            top: 25%; left: 25%;
            width: 50%;
            height: 50%;
            background-color: white;
            box-shadow: 0 0 15px 15px white;
        }
    }
}

/*.landing {
    display: flex;
    height: 500px;
    gap: 0 25px;
    padding: 35px;
    &-content {
        @include box(25%, 100%);
        &:hover p, &:focus p{
            box-shadow: 2px 2px 2px $light-grey;
        }
        p {
            height: 12%;
            width: 85%;
            background-color: rgba($color: white, $alpha: 0.8);
            border-radius: 0 4px 4px 0;
        }
        &-farm {
            @include box-bg-image(url(arava-images/arava-hills-and-palms.jpg), 20px);
        }
        &-moringa {
            @include box-bg-image(url(arava-images/moringa-leaves.jpg), 100px);

        }
    }
}*/