.recipes {
    &-instructions {
        color: $color-primary;
        margin-left: 120px;
        padding-bottom: 30px;
    }
    &-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        max-width: 80%;
        margin-left: 120px;
        &-item {
            position: relative;
            @include img-container(205px, 205px, transparent, 50%);
            cursor: pointer;
            overflow: hidden;
            &:hover, &:focus {
                figcaption {
                    transform: scaleY(100%);
                }
            }
        }
        img {
            position: absolute;
            top: 0; left: 0;
            z-index: -1;
            @include img-container(100%, 100%, none, 50%);
            object-fit: cover;
        }   
        figcaption {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 0; left: 0;
            z-index: -1;
            @include img-container(100%, 100%, rgba($color: $color-quaternary, $alpha: 0.9), 50%);
            color: white;
            text-align: center;
            transition: 150ms ease-in-out;
            transform-origin: bottom center;
            transform: scaleY(0%);
            em {
                font-style: normal;
                padding: 20px;
            }
        }    
    }
}