.recipes-lb {
    display: none;
    position: relative;
    max-width: 80%;
    margin: 0 auto;
    padding: 40px;
    outline: 0;
    scroll-margin-top: 237px;
    @include tablet {
        max-width: 100%;
    }
    @include mobile {
        padding: 0;
        margin-top: 1rem;
    }
    &-item {
        display: none;
        .item-part {
            display: flex;
            margin-bottom: 25px;
            gap: 50px;
            @include mobile {
                gap: 25px;
            }
            img {
                @include img-container(125px, 125px, none, 50%);
                max-width: 125px;
            }
            &-2 {
                @media screen and (max-width: 580px) {
                    flex-direction: column;
                }
            }
        }
        .item {
            &-title {
                margin: auto 0 auto 75px;
                @media screen and (max-width: 580px) {
                    margin: auto 0;
                }
            }
            &-level {
                padding: 10px 0;
                border-top: 1px $color-quaternary solid;
            }
            &-ingredients {
                min-width: 200px;
                &-list {
                    line-height: 1.4rem;
                    li {
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
    .btn {
        position: absolute;
        right: -20px;
        &-close {
            top : 2rem;
            @include mobile {
                top: -1.5rem;
                right: 0.3rem;
            }
        }
        &-skip-next {
            top: 5rem;
            @include mobile {
                display: none;
            }
        }
        &-skip-previous {
            top: 8rem;
            @include mobile {
                display: none;
            }
        }
    }
}