@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Mukta:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Mukta:wght@200;300;400;500;600;700&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@600&family=Lora:wght@600&family=Montserrat:wght@600&family=Prompt:wght@500&family=Rubik:wght@500&family=Teko:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@500;600;700&family=Lora:wght@400;500;600;700&family=Montserrat:wght@200;300;400;500;600&display=swap");
@keyframes appear-vertical {
  0% {
    transform: scaleY(0%);
  }
  100% {
    transform: scaleY(100%);
  }
}
@keyframes appear-horizontal {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(100%);
  }
}
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  max-width: 1440px;
  margin: auto;
  font-size: 100%;
  font-family: "Mukta", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2rem;
  text-align: justify;
}

h2, .h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

h3, .h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.item-title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
}

figcaption {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.3rem;
  text-align: center;
}

.bold {
  font-weight: 600;
}

.anchor-link {
  font-weight: 600;
}

header h1 {
  font-family: "Lora", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
header h1 #eco {
  color: #81b838;
}
header h1 #arava {
  color: #21881d;
}
header .logo-h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 0.67rem;
  font-weight: 500;
  color: #3e9a13;
  text-transform: lowercase;
  text-align: center;
}
header .nav i {
  font-size: 1.4rem;
  color: white;
}
header .nav-menu {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 0.8rem;
  text-transform: uppercase;
}
header .nav-menu-link {
  color: #81b838;
}

footer {
  color: #327319;
}
footer h3 {
  font-size: 0.9rem;
  font-weight: 600;
}
footer li, footer p {
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 0.9rem;
  text-align: justify;
}
footer a {
  color: #327319;
}

.landing a {
  font-size: 0.9rem;
  color: #327319;
  font-weight: 400;
  line-height: 1rem;
}

input, textarea {
  font-family: "Mukta", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #327319;
}
input::placeholder, textarea::placeholder {
  color: rgba(50, 115, 25, 0.8);
}

form h2 {
  color: #81b838;
}

.btn-footer {
  border: none;
  background: none;
  border-radius: 15px;
  box-shadow: 1px 1px 1px #327319;
  font-size: 0.7rem;
  font-weight: 400;
  padding: 6px 12px;
  margin: 10px 10px 0 0;
  background-color: #d5eab9;
}
.btn-footer:hover, .btn-footer:focus {
  box-shadow: inset 1px 1px 1px #327319;
}
.btn-footer a {
  color: #327319;
}
.btn-send {
  border: none;
  background: none;
  border-radius: 15px;
  box-shadow: 1px 1px 1px #81b838;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 6px 35px;
  margin: 10px 10px 0 0;
}
.btn-send:hover, .btn-send:focus {
  box-shadow: inset 1px 1px 1px #81b838;
}
.btn-close {
  border: none;
  background: none;
  border-radius: 15px;
  box-shadow: 1px 1px 1px #327319;
  font-size: 1rem;
  font-weight: 400;
  padding: 6px 10px;
  margin: 10px 10px 0 0;
}
.btn-close:hover, .btn-close:focus {
  box-shadow: inset 1px 1px 1px #327319;
}
.btn-close em {
  color: #327319;
}
.btn-aside {
  border: none;
  background: none;
  font-size: 1.2rem;
  color: #327319;
  margin: 0 0 auto 0;
  margin-top: 0;
}
.btn-aside:hover em, .btn-aside:focus em {
  color: #81b838;
  border: none;
}
.btn-aside em[class$=up] {
  display: none;
}
.btn-aside-clicked em {
  color: #327319;
  border: none;
}
.btn-aside-clicked em[class$=down] {
  display: none;
}
.btn-aside-clicked em[class$=up] {
  display: inline !important;
}
.btn-aside-clicked:hover em, .btn-aside-clicked:focus em {
  color: #81b838;
  border: none;
}
.btn-show-text {
  border: none;
  background: none;
  font-size: inherit;
  color: #327319;
  margin: 0 20px 10px 0;
}
.btn-show-text:hover em, .btn-show-text:focus em {
  color: #81b838;
  border: 1px #327319 solid;
}
.btn-show-text em {
  border: 1px #81b838 solid;
  border-radius: 50%;
  width: 1.8rem;
  height: 1.8rem;
  text-align: center;
  line-height: 1.7rem;
  color: #327319;
  margin-left: 10px;
}
.btn-show-text em[class$=up] {
  display: none;
}
.btn-show-text-clicked em {
  color: #81b838;
  border: none;
}
.btn-show-text-clicked em[class$=down] {
  display: none;
}
.btn-show-text-clicked em[class$=up] {
  display: inline !important;
}
.btn-show-text-clicked:hover em, .btn-show-text-clicked:focus em {
  color: #327319;
  border: none;
}

.tag {
  border: none;
  background: none;
  border-radius: 15px;
  box-shadow: 1px 1px 1px #327319;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 6px 14px;
  margin: 10px 10px 0 0;
  background: none;
  color: #327319;
}
.tag:hover, .tag:focus {
  box-shadow: inset 1px 1px 1px #327319;
}
.tag-selected {
  background-color: #c9e4a5;
  box-shadow: inset 1px 1px 1px #327319;
}

input:not([type=submit]), textarea {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
}
input:not([type=submit]):focus, textarea:focus {
  outline: none;
}

.label {
  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.label-short::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: -2px;
  left: -2px;
  width: 100%;
  height: 44px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #a6d26b 5%, rgba(255, 255, 255, 0.1));
}
.label-high {
  height: 150px;
}
.label-high textarea {
  height: 150px;
  resize: none;
}
.label-high::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: -2px;
  left: -2px;
  width: 100%;
  height: 154px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #a6d26b 5%, rgba(255, 255, 255, 0.1));
}
.label-high:hover textarea::placeholder, .label-high:focus textarea::placeholder {
  font-weight: 600;
}
.label:hover input::placeholder, .label:focus input::placeholder {
  font-weight: 600;
}

#search-icon {
  position: absolute;
  top: 12px;
  right: -10px;
  cursor: pointer;
}

header {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: #81b838;
  box-shadow: 0 1px 6px #909090;
}
header .logo {
  align-self: center;
  width: 100%;
  background-color: white;
  border-bottom: 2px #81b838 solid;
  border-bottom-right-radius: 170px 80px;
  padding: 10px 0;
}
header .logo img {
  position: absolute;
  top: 12px;
  left: 50%;
  width: 84px;
  height: 70px;
  margin-left: -42px;
}
header .logo h1 {
  margin-top: 70px;
  margin-bottom: -5px;
}
header .logo h2 {
  margin-bottom: 6px;
  transition: 250ms ease-in-out;
}
header .nav {
  position: absolute;
  z-index: 1;
  bottom: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header .nav-btn {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #81b838;
  border: none;
  margin-right: 10px;
  cursor: pointer;
  transition: 250ms ease-in-out;
}
header .nav-btn-line {
  height: 3px;
  width: 20px;
  background-color: white;
  margin-bottom: 3px;
  border-radius: 1px;
  transition: 150ms;
}
header .nav-btn:hover .line2 {
  width: 24px;
}
header .nav-btn:hover .line3 {
  width: 29px;
}
header .nav-menu {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  width: calc(100% - 170px);
  padding-bottom: 5px;
  transform-origin: right;
  transform: scale(0);
  transition: transform 500ms;
}
header .nav-menu-link {
  display: block;
  transform: translateY(0%);
  transition: 50ms;
}
header .nav-menu-link:hover, header .nav-menu-link:focus {
  transform: translateY(-10%);
  color: #66912c;
}
header .nav #opened-menu {
  transform: scale(1);
}

footer {
  position: relative;
  display: grid;
  grid-template-columns: 1.3fr 1fr 0.5fr;
  gap: 0 60px;
  grid-template-rows: 1fr 1fr;
  padding: 30px 40px;
}
footer::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 70%;
  height: 1px;
  background: linear-gradient(to right, #327319, white);
}
footer .fNav h3 {
  padding-bottom: 5px;
}
footer .fNav-about {
  max-width: 460px;
  grid-row: span 2;
}
footer .fNav-about p {
  padding-bottom: 5px;
}
footer .fNav-help {
  max-width: 375px;
  grid-column-start: 2;
  grid-row-start: 2;
  margin: auto 0;
}
footer .fNav-social {
  max-width: fit-content;
  grid-row: span 2;
  justify-self: center;
  align-self: center;
}
footer ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px 20px;
}

/*main {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 0 50px;
    padding: 55px;
    .h2-article {
        position: sticky;
        max-width: 50px;
        color: $color-primary;
    }
}*/
main {
  display: grid;
  grid-template-columns: 50px 50px 1fr;
  grid-template-rows: 100px 1fr;
  gap: 0 50px;
  padding: 55px;
}
main .h2-article, main .btn-aside {
  position: sticky;
  top: 20px;
  color: #327319;
}
main aside {
  grid-column: span 2;
  grid-row-start: 2;
}
main article {
  grid-column-start: 3;
  grid-row: span 2;
}

.article-nav, .recipes-list {
  position: sticky;
  top: 120px;
  width: 200px;
  height: min-content;
  border-radius: 5px;
  border: none;
  background-color: white;
  transform-origin: top center;
  animation: appear-vertical 350ms ease-in-out 50ms both;
  color: #327319;
}
.article-nav .h2, .recipes-list .h2 {
  padding-bottom: 25px;
}
.article-nav a, .recipes-list a {
  color: #327319;
}
.article-nav .nutshell, .article-nav .h3-search, .recipes-list .nutshell, .recipes-list .h3-search {
  margin-bottom: 20px;
}
.article-nav .read-more, .article-nav .h3-filters, .recipes-list .read-more, .recipes-list .h3-filters {
  position: relative;
  margin-bottom: 15px;
  padding: 30px 0 6px 0;
}
.article-nav .read-more::after, .article-nav .h3-filters::after, .recipes-list .read-more::after, .recipes-list .h3-filters::after {
  content: "";
  position: absolute;
  right: 100px;
  bottom: 0px;
  height: 1px;
  width: 50%;
  background: linear-gradient(to right, #327319, rgba(255, 255, 255, 0));
}
.article-nav .anchor-link, .recipes-list .anchor-link {
  padding: 6px 0;
  transition: 50ms;
}
.article-nav .anchor-link:hover, .article-nav .anchor-link:focus, .recipes-list .anchor-link:hover, .recipes-list .anchor-link:focus {
  font-size: 1.05rem;
  margin-left: -2px;
}
.article-nav .btn-aside-close, .recipes-list .btn-aside-close {
  position: absolute;
  top: 5px;
  right: -40px;
}
.article-nav-closed, .recipes-list-closed {
  display: none;
}

.farm .article-nav {
  margin-top: -20px;
}

.moringa .article-nav {
  margin-top: 20px;
}

.article {
  position: relative;
  color: #327319;
  margin: 0 auto;
  transform-origin: bottom center;
  animation: appear-vertical 250ms ease-out 150ms both;
  /*h2 {
      position: sticky;
      top: 0; left: 0;
      max-width: 50px;
      height: 150px;
      padding-top: 20px;
  }*/
}
.article .btn-aside-open {
  display: none;
  position: absolute;
  top: 18px;
  left: 100px;
}
.article-part {
  display: flex;
  gap: 25px;
  max-width: 85%;
  margin: 0 90px 100px auto;
}
.article-part:last-child {
  margin-bottom: 20px;
}
.article-pic {
  flex: 1;
}
.article-pic img {
  width: 100%;
  height: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
.article-text {
  flex: 3;
}
.article h3 {
  margin-bottom: 15px;
}
.article p {
  line-height: 1.4rem;
  margin-bottom: 10px;
}
.article p .link-inside-text {
  color: #56c72b;
}
.article p .link-inside-text:hover, .article p .link-inside-text:focus {
  color: #419520;
}
.article-btns {
  margin: 15px 0;
}
.article .hidden-p {
  display: none;
}
.article .optional-p {
  position: relative;
  width: 80%;
  margin: 15px auto 30px auto;
}
.article-narrow {
  margin-left: 70px;
}

.recipes-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.recipes-grid-item {
  position: relative;
  width: 205px;
  height: 205px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 1px 1px 1px #909090, inset -1px -1px 6px #303030;
  cursor: pointer;
}
.recipes-grid-item:hover figcaption, .recipes-grid-item:focus figcaption {
  opacity: 1;
  transform: scale(100%);
}
.recipes-grid img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.recipes-grid figcaption {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: white;
  text-align: center;
  background-color: rgba(129, 184, 56, 0.9);
  transition: 150ms ease-in;
  transform-origin: left center;
  opacity: 0;
  transform: scale(0%);
}
.recipes-grid figcaption em {
  font-style: normal;
  padding: 20px;
}

.recipes-display-details {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 25px;
  outline: 0;
  scroll-margin-top: 237px;
  /*&-item {
          display: flex;
          width: 100%;
          height: 80%;
          margin: auto;
          padding: 35px;
          .content {
              &-left {
                  min-width: 200px;
                  width: 200px;
                  margin-right: 40px;
              }
          }
          img {
              @include img(120px, 120px, 15px);
              margin-bottom: 20px;

          }
      }
  }
  .recipe-details {
      &-title {
          margin: 20px 0;
      }
      &-directions {
          margin-top: 
      }*/
}
.recipes-display-details-item {
  display: none;
  grid-template-columns: 200px, 100%;
  grid-template-rows: 60px 60px 100%;
  gap: 20px 40px;
}
.recipes-display-details-item img {
  width: 120px;
  height: 120px;
  background-color: transparent;
  border-radius: 15px;
  box-shadow: 1px 1px 1px #909090, inset -1px -1px 6px #303030;
  object-fit: cover;
  grid-column: 1;
  grid-row-start: span 2;
}
.recipes-display-details-item .item-title {
  margin-top: 35px;
  grid-column: 2;
  grid-row: 1;
}
.recipes-display-details-item .item-level {
  grid-column: 2;
  grid-row: 2;
}
.recipes-display-details .btn-close {
  position: absolute;
  right: 10px;
  top: -10px;
}

/*.article-pic {
    &-desert {
        grid-template-columns: 2.5fr 1fr;
    }
    &-sustain {
        grid-template-columns: 1fr 2fr 1fr;
    }
    &-growingMoringa {
        grid-template-columns: 1fr 2fr 1fr;
    }
}*/
.recipes .article {
  grid-column-start: 3;
  color: #327319;
}
.recipes-instructions {
  color: #327319;
  margin-left: 70px;
}
.recipes .no-result {
  display: none;
  text-align: center;
}
.recipes-details {
  display: none;
}

.contact {
  display: flex;
}
.contact-info {
  width: 250px;
  height: auto;
  border-radius: 5px;
  border: none;
  background-color: #97cb53;
  transform-origin: top center;
  animation: appear-vertical 350ms ease-in-out 50ms both;
  color: white;
  margin-top: -60px;
  padding: 60px 20px 60px 20px;
  box-shadow: 1px 1px 6px #505050;
}
.contact-info .h2 {
  padding-bottom: 25px;
}
.contact-info a {
  color: white;
}
.contact-info-part {
  display: flex;
  padding: 30px 0;
}
.contact-info-part i:not([class*=fab]) {
  margin-top: 2px;
  padding-right: 20px;
}
.contact form {
  width: 100%;
  transform-origin: center left;
  animation: appear-horizontal 250ms ease-in-out 200ms both;
}
.contact form h2 {
  padding-bottom: 25px;
}

/*# sourceMappingURL=style.css.map */
