@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700&family=Lora:wght@400;500;600;700&family=Montserrat:wght@200;300;400;500;600&display=swap");
@keyframes appear-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appear-vertical {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
@keyframes appear-horizontal {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  max-width: 1440px;
  margin: auto;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

html {
  font-family: "Mukta", sans-serif;
  font-size: 100%;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2rem;
  text-align: justify;
}

h2, .h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
}

.h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-transform: none;
}

.item-title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
}

figcaption {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.3rem;
  text-align: center;
}

.bold {
  font-weight: 600;
  font-style: normal;
}

.anchor-link {
  font-weight: 600;
}

header h1 {
  font-family: "Lora", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
header h1 #eco {
  color: #81b838;
}
header h1 #arava {
  color: #21881d;
}
header .logo-h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 0.67rem;
  font-weight: 500;
  color: #3e9a13;
  text-transform: lowercase;
  text-align: center;
}
header .nav i {
  font-size: 1.4rem;
  color: white;
}
header .nav-menu {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 0.8rem;
  text-transform: uppercase;
}
header .nav-menu-link {
  color: #81b838;
}

footer {
  color: #327319;
}
footer li, footer p {
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 0.9rem;
  text-align: justify;
}
footer a {
  color: #327319;
}

input, textarea {
  font-family: "Mukta", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #327319;
}
input::placeholder, textarea::placeholder {
  color: rgba(50, 115, 25, 0.8);
}

.btn-footer {
  border: none;
  background: none;
  border-radius: 15px;
  font-size: 0.7rem;
  font-weight: 400;
  padding: 6px 12px;
  margin: 10px 10px 0 0;
  box-shadow: 1px 1px 1px #327319;
  background-color: #f8fcf4;
}
.btn-footer:hover, .btn-footer:focus {
  box-shadow: inset 1px 1px 1px #327319;
}
.btn-footer a {
  color: #327319;
}
.btn-send {
  border: none;
  background: none;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: 500;
  padding: 6px 35px;
  margin: 10px 10px 0 0;
  box-shadow: 1px 1px 1px #81b838;
}
.btn-send:hover, .btn-send:focus {
  box-shadow: inset 1px 1px 1px #81b838;
}
.btn-close, .btn-skip {
  border: 1px #327319 solid;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  background: none;
  text-align: center;
  line-height: 2rem;
  color: #327319;
  margin-left: 0;
  box-shadow: 1px 1px 1px #327319;
}
.btn-close:hover, .btn-close:focus, .btn-skip:hover, .btn-skip:focus {
  box-shadow: inset 1px 1px 1px #327319;
}
.btn-close em, .btn-skip em {
  color: #327319;
}
.btn-aside {
  border: none;
  background: none;
  font-size: 1.2rem;
  color: #327319;
  margin: auto 0 0 0;
  width: 50px;
  margin-top: 5px;
}
.btn-aside:hover em, .btn-aside:focus em {
  color: #81b838;
  border: none;
}
.btn-aside em[class$=up] {
  display: none;
}
.btn-aside-clicked em {
  color: #327319;
  border: none;
}
.btn-aside-clicked em[class$=down] {
  display: none;
}
.btn-aside-clicked em[class$=up] {
  display: inline !important;
}
.btn-aside-clicked:hover em, .btn-aside-clicked:focus em {
  color: #81b838;
  border: none;
}
.btn-show-text {
  border: none;
  background: none;
  font-size: 0.9rem;
  color: #327319;
  margin: 20px 20px 0 0;
  margin-left: 25px;
  cursor: pointer;
}
.btn-show-text:hover em, .btn-show-text:focus em {
  color: #81b838;
  border: 1px #327319 solid;
}
.btn-show-text em {
  border: 1px #81b838 solid;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  background: none;
  text-align: center;
  line-height: 1.5rem;
  color: #327319;
  margin-left: 10px;
}
.btn-show-text em[class$=up] {
  display: none;
}
.btn-show-text-clicked em {
  color: #81b838;
  border: none;
}
.btn-show-text-clicked em[class$=down] {
  display: none;
}
.btn-show-text-clicked em[class$=up] {
  display: inline !important;
}
.btn-show-text-clicked:hover em, .btn-show-text-clicked:focus em {
  color: #327319;
  border: none;
}

.tag {
  border: none;
  background: none;
  border-radius: 15px;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 6px 14px;
  margin: 10px 10px 0 0;
  box-shadow: 1px 1px 1px #327319;
  background: none;
  color: #327319;
}
.tag:hover, .tag:focus {
  box-shadow: inset 1px 1px 1px #327319;
}
.tag-selected {
  background-color: #c9e4a5;
  box-shadow: inset 1px 1px 1px #327319;
}

input:not([type=submit]), textarea {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
}
input:not([type=submit]):focus, textarea:focus {
  outline: none;
}

.label {
  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.label-short::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: -2px;
  left: -2px;
  width: 100%;
  height: 44px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #a6d26b 5%, rgba(255, 255, 255, 0.1));
}
.label-high {
  height: 150px;
}
.label-high textarea {
  height: 150px;
  resize: none;
}
.label-high::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: -2px;
  left: -2px;
  width: 100%;
  height: 154px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #a6d26b 5%, rgba(255, 255, 255, 0.1));
}
.label-high:hover textarea::placeholder, .label-high:focus textarea::placeholder {
  font-weight: 600;
}
.label:hover input::placeholder, .label:focus input::placeholder {
  font-weight: 600;
}

header {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: #81b838;
  box-shadow: 0 1px 6px #909090;
}
header .logo {
  align-self: center;
  width: 100%;
  background-color: white;
  border-bottom: 2px #81b838 solid;
  border-bottom-right-radius: 170px 80px;
  padding: 10px 0;
}
header .logo img {
  position: absolute;
  top: 12px;
  left: 50%;
  width: 84px;
  height: 70px;
  margin-left: -42px;
}
header .logo h1 {
  margin-top: 70px;
  margin-bottom: -2px;
}
header .logo h2 {
  margin-bottom: 6px;
  transition: 250ms ease-in-out;
}
header .nav {
  position: absolute;
  z-index: 1;
  bottom: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header .nav-btn {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #81b838;
  border: none;
  margin-right: 10px;
  cursor: pointer;
  transition: 250ms ease-in-out;
}
header .nav-btn-line {
  height: 3px;
  width: 20px;
  background-color: white;
  margin-bottom: 3px;
  border-radius: 1px;
  transition: 150ms;
}
header .nav-btn:hover .line2 {
  width: 24px;
}
header .nav-btn:hover .line3 {
  width: 29px;
}
header .nav-menu {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  width: calc(100% - 170px);
  padding-bottom: 5px;
  transform-origin: right;
  transform: scale(0);
  transition: transform 500ms;
}
header .nav-menu-link {
  display: block;
  transform: translateY(0%);
  transition: 50ms;
}
header .nav-menu-link:hover, header .nav-menu-link:focus {
  transform: translateY(-10%);
  color: #66912c;
}
header .nav #opened-menu {
  transform: scale(1);
}

footer {
  display: grid;
  grid-template-columns: 1.3fr 1fr 0.5fr;
  grid-template-rows: 1fr 1fr;
  gap: 0 60px;
  padding: 20px 40px;
  border-top: 1px #b1d87e solid;
  background-color: rgba(129, 184, 56, 0.4);
}
footer .fNav h3, footer .fNav p {
  padding-bottom: 5px;
}
footer .fNav-about {
  max-width: 460px;
  grid-row: span 2;
}
footer .fNav-help {
  max-width: 375px;
  grid-column-start: 2;
  grid-row-start: 2;
  margin: auto 0;
}
footer .fNav-social {
  max-width: fit-content;
  grid-row: span 2;
  justify-self: center;
  align-self: center;
}
footer ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px 20px;
}

main {
  display: flex;
  gap: 25px;
  padding: 55px;
  animation: appear-opacity 400ms ease-in-out 50ms both;
}

aside {
  position: sticky;
  top: 20px;
  width: 200px;
  height: min-content;
  border-radius: 5px;
  background-color: white;
  color: #327319;
}
aside h2 {
  padding-bottom: 25px;
}
aside a {
  color: #327319;
}
aside .h2 {
  position: relative;
  max-width: 50px;
  padding-bottom: 10px;
}
aside .h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 200px;
  background: #81b838;
  transition: 250ms ease-in-out;
}
aside .h2-closed::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 50px;
  background: #81b838;
  transition: 250ms ease-in-out 280ms;
}
aside .article-nav {
  min-width: 200px;
  transition: 300ms ease-in-out 230ms;
  transform-origin: top center;
  transform: scaleY(1);
  opacity: 1;
}
aside .article-nav .nutshell, aside .article-nav .h3-search {
  margin: 20px 0;
}
aside .article-nav .read-more, aside .article-nav .h3-filters {
  position: relative;
  margin-bottom: 15px;
  padding: 30px 0 6px 0;
}
aside .article-nav .read-more::after, aside .article-nav .h3-filters::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 1px;
  width: 50%;
  background: linear-gradient(to right, #327319, rgba(255, 255, 255, 0));
}
aside .article-nav .anchor-link {
  padding: 6px 0;
  transition: 50ms;
}
aside .article-nav .anchor-link:hover, aside .article-nav .anchor-link:focus {
  font-size: 1.05rem;
  margin-left: -2px;
}
aside .article-nav-closed {
  transition: 300ms ease-in-out;
  transform: scaleY(0);
  opacity: 0;
}

.article {
  position: relative;
  color: #327319;
  margin: 0 auto 0 -110px;
  transition: 250ms ease-in-out 280ms;
}
.article-part {
  display: flex;
  gap: 25px;
  max-width: 80%;
  margin: 0 auto 80px auto;
  scroll-margin-top: 20px;
}
.article-part:last-child {
  margin-bottom: 20px;
}
.article img {
  flex: 1;
  width: 100%;
  min-height: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
.article #context img {
  height: 100%;
}
.article-text {
  flex: 3;
}
.article h2 {
  margin-bottom: 15px;
}
.article h3 {
  margin: 20px 0 0 20px;
}
.article p {
  line-height: 1.4rem;
  margin-bottom: 10px;
}
.article p .link-inside-text {
  color: #56c72b;
}
.article p .link-inside-text:hover, .article p .link-inside-text:focus {
  color: #419520;
}
.article .hidden-p {
  display: none;
}
.article .optional-p {
  margin: 10px auto 35px 25px;
}
.article-narrow {
  margin-left: 0;
  transition: 250ms ease-in-out;
}

.recipes-instructions {
  color: #327319;
  margin-left: 120px;
  padding-bottom: 30px;
}
.recipes-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 80%;
  margin-left: 120px;
}
.recipes-grid-item {
  position: relative;
  width: 205px;
  height: 205px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 1px 1px 1px #909090, inset -1px -1px 6px #303030;
  cursor: pointer;
}
.recipes-grid-item:hover figcaption, .recipes-grid-item:focus figcaption {
  opacity: 1;
  transform: scale(100%);
}
.recipes-grid img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: none;
  border-radius: 50%;
  box-shadow: 1px 1px 1px #909090, inset -1px -1px 6px #303030;
  object-fit: cover;
}
.recipes-grid figcaption {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(129, 184, 56, 0.9);
  border-radius: 50%;
  box-shadow: 1px 1px 1px #909090, inset -1px -1px 6px #303030;
  color: white;
  text-align: center;
  transition: 150ms ease-in;
  opacity: 0;
  transform: scale(0%);
}
.recipes-grid figcaption em {
  font-style: normal;
  padding: 20px;
}

.recipes-details {
  display: none;
  position: relative;
  max-width: 80%;
  margin: 0 auto;
  padding: 40px 0;
  outline: 0;
  scroll-margin-top: 237px;
}
.recipes-details-item {
  display: none;
  grid-template-columns: 120px 1fr 0.8fr;
  grid-template-rows: 15px 15px 15px 1fr;
  gap: 40px 60px;
}
.recipes-details-item img {
  width: 125px;
  height: 125px;
  background-color: none;
  border-radius: 50%;
  box-shadow: 1px 1px 1px #909090, inset -1px -1px 6px #303030;
  min-height: auto;
  grid-row: span 2;
}
.recipes-details-item .item-title {
  margin: auto 0;
  grid-row: span 3;
}
.recipes-details-item .item-level {
  position: relative;
  grid-row: span 2;
  margin-top: auto;
  margin-bottom: 0;
}
.recipes-details-item .item-level::before {
  content: "";
  position: absolute;
  left: -15px;
  bottom: -40px;
  height: 110px;
  width: 1px;
  background: #81b838;
}
.recipes-details-item .item-ingredients {
  position: relative;
  grid-column-start: 3;
  grid-row: span 2;
}
.recipes-details-item .item-ingredients::before {
  content: "";
  position: absolute;
  left: -15px;
  bottom: 0;
  height: 100%;
  width: 1px;
  background: #81b838;
}
.recipes-details-item .item-ingredients-list {
  line-height: 1.4rem;
}
.recipes-details-item .item-directions {
  grid-column: span 2;
}
.recipes-details .btn {
  position: absolute;
  right: -20px;
}
.recipes-details .btn-close {
  top: 2rem;
}
.recipes-details .btn-skip-next {
  top: 5rem;
}
.recipes-details .btn-skip-previous {
  top: 8rem;
}

.contact {
  display: flex;
}
.contact-info {
  width: 250px;
  height: auto;
  border-radius: 5px;
  background-color: #97cb53;
  color: white;
  margin-top: -60px;
  padding: 60px 20px 60px 20px;
  box-shadow: 1px 1px 6px #505050;
  transform-origin: top center;
  animation: appear-vertical 350ms ease-in-out 100ms both;
}
.contact-info h2 {
  padding-bottom: 25px;
}
.contact-info a {
  color: white;
}
.contact-info-part {
  display: flex;
  padding: 30px 0;
}
.contact-info-part i:not([class*=fab]) {
  margin-top: 2px;
  padding-right: 20px;
}
.contact form {
  width: 100%;
  margin-left: 25px;
  transform-origin: center left;
  animation: appear-horizontal 300ms ease-in-out 350ms both;
}
.contact form h2 {
  color: #81b838;
  padding-bottom: 25px;
}

/*# sourceMappingURL=style.css.map */
