.btn {
    &-footer {
        @include button($color-primary, 0.75rem, 500, 12px);
        background-color: white;
        margin-top: 5px;
        a {
            color: $color-quaternary;
        }
    }
    &-social {
        @include button-circle(none, 2rem, $color-quaternary, 0);
        background-color: white;
        box-shadow: 1px 1px 1px $color-primary;
        margin-left: 10px;
        i {
            line-height: 2rem;
        }
        &:hover, &:focus {
            box-shadow: inset 1px 1px 1px $color-primary;
        }
    }
    &-send {
        @include button($color-quaternary, 1rem, 500, 35px);
    }
    &-close, &-skip {
        @include button-circle(1px $color-primary solid, 2rem, $color-primary, 0);
        box-shadow: 1px 1px 1px $color-primary;
        &:hover, &:focus {
            box-shadow: inset 1px 1px 1px $color-primary;
        }
        em {
            color: $color-primary;
        }
    }
    &-aside {
        @include button-no-border(1.2rem, $color-primary, 0, auto, $color-quaternary, none);
        width: 50px;
        margin-top: 5px;
        em {
            &[class$="up"] {
                display: none;
            }
        }
        &-clicked {
            @include toggle-icon($color-primary, none, $color-quaternary, none);
        }
    }
    &-show-text {
        @include button-no-border(0.9rem, $color-primary, 20px, 20px, $color-quaternary, 1px $color-primary solid);
        margin-left: 25px;
        cursor: pointer;
        em {
            @include button-circle(1px $color-quaternary solid, 1.5rem, $color-primary, 10px);
            &[class$="up"] {
                display: none;
            }
        }
        &-clicked {
            @include toggle-icon($color-quaternary, none, $color-primary, none);
        }
    }
}

.tag {
    @include button($color-primary, 0.9rem, 400, 14px);
    background: none;
    color: $color-primary;
    &-selected {
        background-color: lighten($color: $color-quaternary, $amount: 30%);
        box-shadow: inset 1px 1px 1px $color-primary;
    }
}
