input:not([type="submit"]), textarea {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    &:focus {
        outline: none;
    }
}
.label {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    &-short::after {
        @include fading-border(44px);
    }
    &-high {
        height: 150px;
        textarea {
            height: 150px;
            resize: none;
        }
        &::after {
            @include fading-border(154px);
        }
        &:hover textarea::placeholder, &:focus textarea::placeholder {
            font-weight: 600;
        }
    }
    &:hover input::placeholder, &:focus input::placeholder {
        font-weight: 600;
    }
}
#search-icon {
    position: absolute;
    top: 12px; right: -10px;
    cursor: pointer;
}