@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Mukta:wght@200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Mukta:wght@200;300;400;500;600;700&family=Varela+Round&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@600&family=Lora:wght@600&family=Montserrat:wght@600&family=Prompt:wght@500&family=Rubik:wght@500&family=Teko:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@500;600;700&family=Lora:wght@400;500;600;700&family=Montserrat:wght@200;300;400;500;600&display=swap');


p {
    font-size: 1.0rem;
    font-weight: 400;
    line-height: 1.2rem;
    text-align: justify;
}

h2, .h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}

h3, .h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

.item-title {
    font-family: "Montserrat", sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
}

figcaption {
    font-family: "Montserrat", sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.3rem;
    text-align: center;
}

.bold {
    font-weight: 600;
}

.anchor-link {
    font-weight: 600;
}

header {
    h1 {
        font-family: "Lora", sans-serif;
        font-size: 1.3rem;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        #eco {
            color: $color-quaternary;
        }
        #arava {
            color: $color-secondary;
        }
    }
    .logo-h2 {
        font-family: "Montserrat", sans-serif;
        font-size: 0.67rem;
        font-weight: 500;
        color: $color-tertiary;
        text-transform: lowercase;
        text-align: center;
    }
    .nav {
        i {
            font-size: 1.4rem;
            color: white;
        }
        &-menu {
            font-family: "Montserrat", sans-serif;
            font-size: 0.8rem;
            font-weight: 600;
            line-height: 0.8rem;
            text-transform: uppercase;
            &-link {
                color: $color-quaternary;
            }
        }
    }
}

footer {
    color: $color-primary;
    h3 {
        font-size: 0.9rem;
        font-weight: 600;
    }
    li, p {
        font-size: 0.8rem;
        font-weight: 500;
        line-height: 0.9rem;
        text-align: justify;
    }
    a {
        color: $color-primary;
    }
}

.landing {
    a {
        font-size: 0.9rem;
        color: $color-primary;
        font-weight: 400;
        line-height: 1rem;
    }
}

input, textarea {
    font-family: "Mukta", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: $color-primary;
    &::placeholder {
        color: rgba($color: $color-primary, $alpha: 0.8);
    }
}

form h2 {
    color: $color-quaternary;
}