/*.article-pic {
    &-desert {
        grid-template-columns: 2.5fr 1fr;
    }
    &-sustain {
        grid-template-columns: 1fr 2fr 1fr;
    }
    &-growingMoringa {
        grid-template-columns: 1fr 2fr 1fr;
    }
}*/