.recipes {
    .article {
        grid-column-start: 3;
        color: $color-primary;
    }
    &-instructions {
        color: $color-primary;
        margin-left: 100px;
        padding-bottom: 30px;
    }
    .no-result {
        display: none;
        text-align: center;
    }
    &-details {
        display: none;
    }
}