@mixin button($shadowColor, $fontSize, $fontWeight, $paddingHorizontal){
    border: none;
    background: none;
    border-radius: 15px;
    box-shadow: 1px 1px 1px $shadowColor;
    font-size: $fontSize;
    font-weight: $fontWeight;
    padding: 6px $paddingHorizontal;
    margin: 10px 10px 0 0;
    &:hover, &:focus {
        box-shadow: inset 1px 1px 1px $shadowColor;
    }
}

@mixin button-slide-text($fontSize, $color, $marginR, $marginT, $colorHover, $border) {
    border: none;
    background: none;
    font-size: $fontSize;
    color: $color;
    margin: $marginT $marginR 0 0;
    &:hover em, &:focus em {
        color: $colorHover;
        border: $border;
    }
}

@mixin button-icon-circle {
    border: 1px $color-quaternary solid;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    line-height: 1.4rem;
    color: $color-primary;
    margin-left: 10px;
}

@mixin button-toggle-icon($color, $border, $colorH, $borderH) {
    em {
        color: $color;
        border: $border;
        &[class$="down"] {
            display: none;
        }
        &[class$="up"] {
            display: inline !important;
        }
    }
    &:hover em, &:focus em {
        color: $colorH;
        border: $borderH;
    }
}

@mixin img($width, $height, $radius) {
    width: $width;
    height: $height;
    background-color: transparent;
    border-radius: $radius;
    box-shadow: 1px 1px 1px $light-grey,
    inset -1px -1px 6px $dark-grey;
    object-fit: cover;
}

@mixin fading-border($height) {
    content: "";
    position: absolute;
    z-index: -1;
    top: -2px; left: -2px;
    width: 100%;
    height: $height;
    border-radius: 5px;
    background-image: linear-gradient(to right, lighten($color-quaternary, 15%) 5%, rgba(255, 255, 255, 0.1));
}

@mixin fading-line($left, $bottom, $height, $width, $bg) {
    content: "";
    position: absolute;
    left: $left; bottom: $bottom;
    height: $height;
    width: $width;
    background: $bg;
}

@mixin aside($width, $height, $bg-color, $color) {
    width: $width;
    height: $height;
    border-radius: 5px;
    background-color: $bg-color;
    color: $color;
    h2 {
        padding-bottom: 25px;
    }
    a {
        color: $color;
    }
}