@mixin button($shadowColor, $fontSize, $fontWeight, $paddingHorizontal){
    border: none;
    background: none;
    border-radius: 15px;
    box-shadow: 1px 1px 1px $shadowColor;
    font-size: $fontSize;
    font-weight: $fontWeight;
    padding: 6px $paddingHorizontal;
    margin: 10px 10px 0 0;
    &:hover, &:focus {
        box-shadow: inset 1px 1px 1px $shadowColor;
    }
}

@mixin button-slide-text($fontSize, $color, $marginR, $marginB, $colorHover, $border) {
    border: none;
    background: none;
    font-size: $fontSize;
    color: $color;
    margin: 0 $marginR $marginB 0;
    &:hover em, &:focus em {
        color: $colorHover;
        border: $border;
    }
}

@mixin button-icon-circle {
    border: 1px $color-quaternary solid;
    border-radius: 50%;
    width: 1.8rem;
    height: 1.8rem;
    text-align: center;
    line-height: 1.7rem;
    color: $color-primary;
    margin-left: 10px;
}

@mixin button-toggle-icon($color, $border, $colorH, $borderH) {
    em {
        color: $color;
        border: $border;
        &[class$="down"] {
            display: none;
        }
        &[class$="up"] {
            display: inline !important;
        }
    }
    &:hover em, &:focus em {
        color: $colorH;
        border: $borderH;
    }
}

@mixin img($width, $height, $radius) {
    width: $width;
    height: $height;
    background-color: transparent;
    border-radius: $radius;
    box-shadow: 1px 1px 1px $light-grey,
    inset -1px -1px 6px $dark-grey;
    object-fit: cover;
}

@mixin box($width, $height) {
    width: $width;
    height: $height;
    border-radius: 15px;
    box-shadow: 2px 3px 6px $light-grey;
    &:hover, &:focus {
        box-shadow: inset 2px 2px 5px $light-grey;
    }
}

@mixin box-bg-image($url, $top) {
    position: relative;
    background-image: $url;
    background-size: cover;
    cursor: pointer;
    p {
        position: absolute;
        left: 0; top: $top;
    }
}

@mixin fading-border($height) {
    content: '';
    position: absolute;
    z-index: -1;
    top: -2px; left: -2px;
    width: 100%;
    height: $height;
    border-radius: 5px;
    background-image: linear-gradient(to right, lighten($color-quaternary, 15%) 5%, rgba(255, 255, 255, 0.1));
}

@mixin fading-line($right, $bottom, $height, $width, $bg) {
    content: "";
    position: absolute;
    right: $right; bottom: $bottom;
    height: $height;
    width: $width;
    background: $bg;
}

@mixin read-more {
    position: relative;
    margin-bottom: 15px;
    padding: 30px 0 6px 0;
}

@mixin anchor-link {
    padding: 6px 0;
    transition: 50ms;
    &:hover, &:focus {
        font-size: 1.05rem;
        margin-left: -2px;
    }
}

@mixin aside($width, $height, $border, $bg-color, $color) {
    width: $width;
    height: $height;
    border-radius: 5px;
    border: $border;
    background-color: $bg-color;
    transform-origin: top center;
    animation: appear-vertical 350ms ease-in-out 50ms both;
    color: $color;
    .h2 {
        padding-bottom: 25px;
    }
    a {
        color: $color;
    }
}