$color-primary: #327319;
$color-secondary: #21881d;
$color-tertiary: #3e9a13;
$color-quaternary: #81b838;

$dark-grey: #303030;
$middle-grey: #505050;
$light-grey: #909090;

$dark-blue: #02013d;
$middle-blue: #163682;
$light-blue: #2c54b2;

$middle-brown: #694a36;
$light-brown: #866f43;
$dark-tan: #9f6a4b;
$golden-sand: #f2d16b;
$desert-sand: #e9ccb1;
$cameo: #d29d80;

$fullwidth: 100%;
